.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.footerBody {
  background-color: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 56px;
  padding-bottom: 40px;
  color: white;
}

.info,
.findUs,
.about,
.newsletter {
  display: flex;
  flex-direction: column;
}

.info p,
.findUs p,
.about p,
.newsletter p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footerItem {
  font-size: 16px;
  font-family: "Helvetica Neue";
}

.footerItem:hover {
  cursor: pointer;
}

.footerTitle {
  color: white;
  margin-right: auto;
  font-family: "HelveticaNeue-CondensedBold";
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.subscribe {
  display: flex;
  flex-direction: row;
}

.email {
  width: 215px;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #ced4da;
}

.subscribeBtn {
  width: 94px;
  height: 38px;
  font-size: 16px;
  background-color: white;
  color: #6c757d;
  border-width: 1px;
  border-color: #6c757d;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "HelveticaNeue-CondensedBold";
}

.subscribeBtn:hover {
  background-color: #5a6268;
  border-width: 1px;
  border-color: #a8adb1;
  cursor: pointer;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subscribeBtn:disabled {
  background-color: #b0b6ba;
  color: white;
  border: none;
}

.subscribeBtn:active {
  border: 3px solid #a8adb1;
}

.copyright {
  text-align: center;
  background-color: #fafcfc;
}

.copyright p {
  margin-top: 23px;
  margin-bottom: 22px;
  font-family: "Helvetica Neue";
  color: #343a40;
  font-size: 16px;
}

.newsletterTablet {
  display: none;
}

.footerBodyMobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .newsletter {
    display: none;
  }

  .newsletterTablet {
    background-color: #0069d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
  }

  .newsletterTablet p {
    margin: auto;
  }

  .footerBodyMobile {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .newsletterTablet {
    background-color: #0069d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
  }

  .newsletterTablet p {
    margin: auto;
  }

  .footerBody {
    display: none;
  }

  .info,
  .about,
  .findUs {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .footerBodyMobile p {
    margin-right: 0;
    font-size: 18px;
  }

  .dropDownArrow {
    width: 32px;
    height: 32px;
    fill: white;
    transform: rotate(-90deg);
  }

  .footerBodyMobile {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
