body {
  background-color: white;
}

.topCard {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  gap: 4px;
  align-items: row;
}

.info1,
.info2,
.info3 {
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 111px;
  width: 455px;
  height: 480px;
  border: 0.5px;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold";
  color: white;
  font-size: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info1 {
  background-image: url("/src/images/Group1443.png");
}

.info2 {
  background-image: url("/src/images/Group1444.png");
}

.info3 {
  background-image: url("/src/images/Group1445.png");
}

.itemButton {
  color: white;
  background: transparent;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 16px;
  width: 136px;
  height: 40px;
}

.itemButton:hover {
  color: #343a40;
  background: white;
}

@media only screen and (max-width: 900px) {
  .info1,
  .info2,
  .info3 {
    width: 255px;
    height: 320px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .info1,
  .info2,
  .info3 {
    height: 320px;
    flex: 0 0 255px;
  }

  .topCard {
    overflow: hidden;
    flex-wrap: nowrap;
  }
}
